{% extends 'auth_base.html' %}
{% block title %}Forgot Password - SocialHub{% endblock %}
{% block page_name %}forgot-password{% endblock %}
{% block content %}<form class='auth-card' id='forgot-form' data-action='forgot-form'><a class='brand' href='/'><span class='brand-mark'><i class='fas fa-bolt'></i></span><span>SocialHub</span></a><h1>Reset password</h1><p class='muted'>Secure, accessible authentication for SocialHub.</p><label>Email<input class='form-control' name='email' type='email' autocomplete='email' required></label><button class='btn btn-primary' type='submit'>Reset password</button><a class='muted' href='/login'>Back to login</a></form>{% endblock %}
